@model IEnumerable<Student>
@{
    int index = 1;
}
<div class="d-flex justify-content-between">
    <h4>Students</h4>
    <a asp-action="Create" class="btn btn-primary btn-sm">Create</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Class level</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@index</th>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.ClassLevel</td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
                </td>
            </tr>
            index++;
        }
    </tbody>
</table>